.button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  width: 10rem;
  cursor: pointer;
}

.button:first-child {
  background-color: rgb(154, 229, 189);
}

.button:nth-child(2) {
  background-color: rgb(147, 212, 224);
}

.button:nth-child(3) {
  background-color: rgb(165, 165, 234);
}

.button:nth-child(4) {
  background-color: rgb(207, 147, 226);
}

.button:nth-child(5) {
  background-color: lightsalmon;
}

/* HOVER */

.button:first-child:hover {
  background-color: rgb(147, 219, 181);
}

.button:nth-child(2):hover {
  background-color: rgb(136, 199, 210);
}

.button:nth-child(3):hover {
  background-color: rgb(154, 154, 225);
}

.button:nth-child(4):hover {
  background-color: rgb(196, 136, 214);
}

.button:nth-child(5):hover {
  background-color: rgb(242, 151, 115);
}
